{% extends "base.html" %}

{% block content %}

<div class="" style="padding-left: 20px;">

  <div class="jumbotron">
    <h1>Journal Batches</h1>
  </div>

  <br>

  <h4>Batches Pending Load to Journal</h4>

  <table class="table table-striped table-hover w-auto">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col"> </th>
        <th scope="col"> </th>
      </tr>
    </thead>

    <tbody>
      {% for batch in batch_list %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{batch[0]}}</td>
          <td>{{batch[1]}}</td>
          <td><a class="btn btn-primary" href="{{url_for('accounting_app_journals_bp.load_batch', batch_row_id=batch[0])}}">LOAD JE FILE</a></td>
          <td><a class="btn btn-primary" href="{{url_for('accounting_app_journals_bp.journal_loader_batch_review', batch_row_id=batch[0])}}">REVIEW TRANSACTIONS</a></td>
        </tr>
      {% endfor %}
    </tbody>
    </table>

  <br>

  <h4>Batches loaded to Journal</h4>

  <table class="table table-striped table-hover w-auto">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th class="text-right" scope="col">Debit</th>
        <th class="text-right" scope="col">Credit</th>
      </tr>
    </thead>

    <tbody>
      {% for batch in batch_list_loaded %}
        <tr>
          <td> {{ loop.index }} </td>
          <td> {{ batch[0] }} </td>
          <td> {{ batch[1] }} </td>
          <td> {{ batch[2] }} </td>
          <td class="text-right"> {{ "{:,.2f}".format(batch[4]|float)}} </td>
          <td class="text-right"> {{ "{:,.2f}".format(batch[5]|float)}} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
