{% extends "base.html" %}

{% block content %}

<div class="jumbotron">

  <h1>Journal Batches</h1>

  <p>Current pending batches</p>

</div>

<h3>***********************************************</h3>
<h3>**** Finalize Batch Instructions below ****</h3>
<h3>***********************************************</h3>

<p>Click on Batch ID to begin entering Journal Entries</p>
<p>Click on Review Batch to review and approve for posting</p>
<br>


<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Batch ID</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    {% for batch in batch_list %}

    <tr>
      <!-- <th scope="row">1</th> -->
      <td><a href="{{url_for('accounting_app_journals_bp.je_entry', journal_batch_row_id=batch[0])}}" class="list-group-item list-group-item-action">{{batch[1]}}</a></td>
      <td><a class="btn btn-primary" href="{{url_for('accounting_app_journals_bp.load_batch', batch_row_id=batch[0])}}">LOAD JE FILE (TEMP ENDPOINT)</a></td>
      <td><a class="btn btn-primary" href="{{url_for('accounting_app_journals_bp.journal_loader_batch_review', batch_row_id=batch[0])}}">REVIEW</a></td>
    </tr>

    {% endfor %}
  </tbody>
</table>

<br><br>

{% endblock %}
