{% extends "base.html" %}
{% block content %}

<h1>Create Batch</h1>

<div class="container">
  <form class="form-group" method="POST">
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.journal_batch_id.label(class="form-control-label") }}
      {{ form.journal_batch_id(class="form-control form-control-lg ") }}
    </div>

    <div class="form-group">
      {{ form.journal_batch_description.label(class="form-control-label") }}
      {{ form.journal_batch_description(class="form-control form-control-lg ") }}
    </div>

    <div class="form-group">
      {{ form.journal_batch_entity.label(class="form-control-label") }}
      {{ form.journal_batch_entity(class="form-control form-control-lg ") }}
    </div>

    <div class="form-group">
      {{ form.journal_batch_currency.label(class="form-control-label") }}
      {{ form.journal_batch_currency(class="form-control form-control-lg ") }}
    </div>

    <div class="form-group">
      {{ form.gl_post_reference.label(class="form-control-label") }}
      {{ form.gl_post_reference(class="form-control form-control-lg ") }}
    </div>

    <div class="form-group">
      {{ form.enter(class="btn btn-outline-info") }}
    </div>

  </form>

</div>

{% if form.errors %}
<p>{{ form.errors }}</p>
{% endif %}

{% endblock content %}
