<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

<!-- Put jquery script first, then Popper.js, then Bootstrap JS. This allowed the dropdown to work (both in Navbar and in block element) -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <meta charset="utf-8">
  <title></title>
</head>

<body>

  <!-- As a heading -->
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">growler-vaq</span>
  </nav>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Placeholder</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Journals</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/accounting_app/journals/create_batch">Create Journal Batch</a>
        <a class="dropdown-item" href="/accounting_app/journals/batch_list">Journal Batch List</a>
        <a class="dropdown-item" href="#">Journals 01</a>
        <a class="dropdown-item" href="#">Journals 02</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/accounting_app/journals/journals_strobe">Journals Strobe Check</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">General Ledger</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Trial Balance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">P & L</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Balance Sheet</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cashflow Statement</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li> -->
  </ul>

<br><br>

{% block content %}

{% endblock %}

</body>

</html>
